<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="tugoapps.com.sharing">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".UI.MyApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".UI.DetailsPhotosActivity"></activity>
    <activity android:name=".UI.PhotosActivity" />
    <activity android:name=".UI.AlbumsActivity" />
    <activity android:name=".UI.EditPostActivity" />
    <activity android:name=".UI.NewPostActivity" />
    <activity android:name=".UI.PostsActivity" />
    <activity android:name=".UI.PostAndAlbumActivity" />
    <activity android:name=".UI.UserActivity" />
    <activity
      android:name=".UI.SplashScreenActivity"
      android:theme="@style/SplashTheme"
      tools:ignore="InnerclassSeparator">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
